<div class="p-4 bg-gray-50 rounded-lg shadow-sm border border-gray-200">
  <p class="text-sm font-semibold text-gray-800">
    {{ comment.usernameCommenter }} zei:
  </p>
  <p *ngIf="!isEditing" class="text-gray-700 mt-2">{{ comment.content }}</p>

  <!-- Edit input -->
  <textarea *ngIf="isEditing" [(ngModel)]="updatedContent" class="w-full mt-2 p-2 border rounded" rows="3"></textarea>

  <small class="text-gray-500 block mt-4 text-xs">
    {{ comment.creationDate | date: 'short' }}
  </small>

  <!-- Action buttons -->
  <div *ngIf="isCommentOwner" class="flex items-center space-x-4 mt-4">
    <!-- Update button -->
    <button *ngIf="!isEditing" (click)="startEditing()" class="text-blue-500 hover:text-blue-700 font-medium">
      Bewerken
    </button>

    <button *ngIf="isEditing" (click)="updateComment()" class="text-green-500 hover:text-green-700 font-medium">
      Opslaan
    </button>

    <button *ngIf="isEditing" (click)="cancelEditing()" class="text-gray-500 hover:text-gray-700 font-medium">
      Annuleren
    </button>

    <!-- Delete button -->
    <button (click)="deleteComment()" class="text-red-500 hover:text-red-700 font-medium">
      Verwijderen
    </button>
  </div>
</div>