<div class="p-4 bg-white rounded-lg border border-gray-200 shadow-md">
    <h2 class="text-xl font-semibold text-gray-800 mb-2">{{ newsArticle.title }}</h2>
    <p class="text-gray-600 text-sm mb-4">{{ newsArticle.content }}</p>
  
    <div class="text-gray-500 text-xs">
      <p><strong>Author:</strong> {{ newsArticle.usernameWriter }}</p>
      <p><strong>Created:</strong> {{ newsArticle.creationDate | date: 'medium' }}</p>
      <p>
        <strong>Status:</strong>
        <span
          [ngClass]="{
            'text-blue-500': newsArticle.status === 'CONCEPT',
            'text-yellow-500': newsArticle.status === 'SUBMITTED',
            'text-green-500': newsArticle.status === 'APPROVED',
            'text-red-500': newsArticle.status === 'DISAPPROVED'
          }"
        >
          {{ newsArticle.status }}
        </span>
      </p>
    </div>
  </div>
  